USER_HTTP_ADDR=:8080
USER_GRPC_ADDR=:9090
USER_MYSQL_DSN=root:root@tcp(127.0.0.1:3307)/user?charset=utf8mb4&parseTime=True&loc=Local
USER_REDIS_ADDR=127.0.0.1:6379
USER_JWT_SECRET=gobao-dev-secret-change-in-prod
USER_JWT_EXPIRY=24h
